{% extends "base.html" %}

{% block content %}
    <h2>사원 목록</h2>

    <table class="table">
        <thead>
        <tr>
            <th>이름</th>
            <th>이메일</th>
            <th>직급</th>
            <th>급여</th>
            <th>부서</th>
            <th>입사일</th>
            <th>상세보기</th>
        </tr>
        </thead>
        <tbody>
        {% for emp in employees.items %}
            <tr>
                <td>{{ emp.emp_name }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.position or '-' }}</td>
                <td>{{ emp.salary or '-' }}</td>
                <td>{{ emp.department.dept_name if emp.department else '없음' }}</td>
                <td>{{ emp.hire_date.strftime('%Y-%m-%d') }}</td>
                <td>
                    <a href="{{ url_for('emp.view_employee', emp_id=emp.emp_id) }}">보기</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pagination justify-content-center">
        {% if employees.has_prev %}
            <li class="page-item"> <a class="page-link" href="?page={{ employees.prev_num }}">이전</a> </li>
        {% else %}
            <li class="page-item disabled"> <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a> </li>
        {% endif %}
        {% for page_num in employees.iter_pages() %}
            {% if page_num %}
                {% if page_num != employees.page %}
                    <li class="page-item"> <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a> </li>
                {% else %}
                    <li class="page-item active" aria-current="page"> <a class="page-link" href="javascript:void(0)">{{ page_num }}</a> </li>
                {% endif %}
            {% else %}
                <li class="disabled"> <a class="page-link" href="javascript:void(0)">...</a> </li>
            {% endif %}
        {% endfor %}
        {% if employees.has_next %} {# 여기에 employees 사용 #}
            <li class="page-item"> <a class="page-link" href="?page={{ employees.next_num }}">다음</a> </li>
        {% else %}
            <li class="page-item disabled"> <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a> </li>
        {% endif %}
    </ul>
    <br>
    <a href="{{ url_for('emp.create_employee') }}">사원 추가</a>
{% endblock %}